@import "../../scss/_colors.scss";

.tweet {
	line-height: 1.4;
  	width: 100%;

  	&.clickable {
		cursor: pointer;
  	}

  	&:first-of-type {
		margin-top: 0;
  	}

  	.retweetedText {
		color: $lightGrey;
		font-size: 13px;
		padding: 6px 10px;

		.icon {
	  		margin-right: 5px;
		}
  	}

  	.card {
		.content {
	  		white-space: pre-line;

	  		.description {
				font-size: 16px !important;
				line-height: 1.8;

				b {
					text-decoration: $red wavy underline 2px;
					// text-decoration-thickness: 0.3px;
					text-underline-offset: 4px;
				}
	  		}

	  		&.extra {
				border-top: solid 1px $twitterExtraLightGrey !important;
				cursor: default;
				padding: 1px 3px !important;

				.list {
		  			.item {
						display: inline-block;

						&.favoriteItem {
			  				margin-left: 0;
						}

						.label {
			  				background: transparent;
			  				border: none;
						}

						.button {
							&.loading {
								margin-top: 0 !important;
								opacity: 0.7;
							}
						}

						.icon {
							cursor: default;
							display: inline-block;
							margin-right: 5px;

							&.twitter {
								color: $twitter;
								cursor: pointer;
								margin-right: 12px;
							}
						}

						.content {
			  				padding: 7px;
						}
		  			}
				}
	  		}
		}
  	}

  	.quotedTweet {
		margin-bottom: 5px !important;

		&.clickable {
	  		cursor: pointer;
		}

		.quotedTweetContent {
	  		.quotedScreenName {
				font-weight: normal;
				margin-left: 4px;
	  		}

	  		.quotedTextTweet {
				font-size: 14px;
	  		}

	  		.quotedHeader {
				font-size: 14px !important;
	  		}
		}
  	}

	.extEntitiesWrapper {
		margin-top: 10px;
	}

  	.mediaPic {
		display: inline-block;
		margin-top: 8px;
		max-height: 300px;
		overflow-y: hidden;

		.mediaImg {
			height: 180px;
			width: 100%;
		}
  	}

  	.tweetUserImg {
		margin-right: 9px !important;
		width: 48px;
  	}

  	.tweetUserName {
		display: inline;
		font-size: 18px !important;
		height: auto !important;

		&.link {
	  		cursor: pointer;
		}
  	}

  	.tweetUserScreenName {
		font-size: 14px !important;
		line-height: 14px;
		margin-top: 0px;
 	}

  	.tweetTime {
		margin-left: 4px;
  	}

  	@media only screen and (max-width: 1025px) {
		.tweetUserName {
	  		font-size: 16px !important;
		}

		.tweetUserScreenName {
	  		font-size: 13px !important;
		}

		.tweetUserImg {
	  		width: 36px;
		}

		.card {
	  		.content {
				.description {
		  			font-size: 14px !important;
				}

				.list {
		  			.item {
						.icon {
			  				font-size: 16px;
						}
		  			}
				}
	  		}

	  		.mediaImg {
				width: 250px;
	  		}
		}
  	}
}
