.imageUpload {
    .imageUploadHeader {
        font-size: 13px;
        margin-left: 6px;
        margin-top: 0;

        span {
            cursor: pointer;
            margin-left: 6px;
            vertical-align: middle;
            line-height: 32px;
        }
    }
}