/*---  Colors  ---*/
$red: #c0392b;
$orange: #d35400;
$yellow: #f39c12;
$olive: #6ab04c;
$green: #27ae60;
$teal: #16a085;
$blue: #2980b9;
$violet: #8e44ad;
$purple: #2c3e50;
$pink: #ffb8b8;
$brown: #a5673f;
$grey: #7f8c8d;
$black: #2c3e50;

/*---  Light Colors  ---*/
$lightRed: #e74c3c;
$lightOrange: #e67e22;
$lightYellow: #f1c40f;
$lightOlive: #badc58;
$lightGreen: #2ecc71;
$lightTeal: #1abc9c;
$lightBlue: #3498db;
$lightViolet: #9b59b6;
$lightPurple: #34495e;
$lightPink: #ffcccc;
$lightBrown: #d67c1c;
$lightGrey: #95a5a6;
$lightBlack: #34495e;

/*---   Neutrals  ---*/
$fullBlack: #000000;
$offWhite: #f9fafb;
$darkWhite: #f3f4f5;
$midWhite: #dcddde;
$white: #ffffff;

/*---   Social colors  ---*/
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$reddit: #ff5700;
$patreon: #f96854;

/*--- Twitter ---*/
$twitterExtraExtraLightGrey: rgb(245,248,250);
$twitterExtraLightGrey: rgb(225,232,237);
$twitterLightGrey: rgb(170,184,194);
$twitterDarkGrey: rgb(101,119,134);
$twitterExtraExtraLightGrey1: rgba(245,248,250,0.1);
$twitterExtraExtraLightGrey2: rgba(245,248,250,0.2);

$invertedBackgroundColor: #212121;

$dividerMargin: 25px;
