@import "../../scss/_colors.scss";

.ui.bottom.attached.segment.footerSegment {
    background: $invertedBackgroundColor !important;
    border: none;
    box-shadow: none !important;
    margin-top: 2.5em !important;
    padding: 2em 0em !important;
    text-align: center;

    .container {
      padding-left: 30px;
      padding-right: 30px;
    }

    .ui.inverted.list .item a:not(.ui) {
      color: $offWhite !important;
      font-weight: bold;

      &:hover {
            color: $lightBlack;
      }
    }

    p {
      color: $white !important;
      font-size: 12px;
      margin-bottom: 7px;
    }
}
