@import "../../scss/_colors.scss";

.tweetList {
    .tweetWrapper {
        margin-top: 14px;

        .segment {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .loading {
        margin-top: 16px;
    }
}